#gallery {
  display: flex;
  flex-wrap: wrap;
}

.content-container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 200ms linear, z-index 100ms, visibility 100ms;
  z-index: 2;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.1411764706), 0 1px 3px rgba(0, 0, 0, 0.1215686275);
}

.selected {
  z-index: 0;
  visibility: hidden;
}

canvas {
  cursor: move;
  border-collapse: separate;
}

.dropZone {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.tile {
  height: 212px;
  width: 165px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

body {
  font: 100% Montserrat, Trebuchet MS, Helvetica, sans-serif;
  color: #000000;
  background-color: #f2f1f7;
  margin: 10px;
}