@import "_colors";

#gallery{
	display: flex;
	flex-wrap: wrap;
}

.canvas-container{
	position: relative;
	display: flex;
	transition: 200ms linear;
	padding: 5px;
	z-index: 2;
	
}
.selected {
	z-index: 0;
	visibility: hidden;
}

canvas{
	cursor: move;
	border-radius: 4px;
	border-collapse: separate; 
}

.dropZone {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.tile{
	height: 165px;
	width: 130px;
	position: relative;
}
