@import "_colors";

#gallery{
	display: flex;
	flex-wrap: wrap;
}

.content-container{
	position: relative;
	display: flex;
	box-sizing: border-box;
	margin: 5px;
	border-radius: 5px;
	overflow: hidden;
	transition: transform 200ms linear, z-index 100ms, visibility 100ms ;
	z-index: 2;
	box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}


.selected {
	z-index: 0;
	visibility: hidden;
}

canvas{
	cursor: move;

	border-collapse: separate; 
}

.dropZone {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.tile{
	height: 212px;
	width: 165px;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

