@import "_colors";
@import "_gallery";


$font-stack: Montserrat, Trebuchet MS, Helvetica, sans-serif;
body {
	font: 100% $font-stack;
	color: #000000;
	background-color: $primary-light;
	margin:10px;
}